<table class="table table-bordered">
    <tr>
        <td class="active">Folio</td>
        <td class="active">Proveedor</td>
        <td class="active">Motivo</td>
        <td class="active">Comprador</td>
        <td class="active">Autorizo</td>
        <td class="active">Cantidad</td>
        <td class="active">Moneda</td>
        <td class="active">Compra</td>
        <td class="active">Cancelado</td>
        <td class="active">Requerido</td>
        <td class="active">Modificado</td>
    </tr>

 </table>