<form class="form-horizontal" role="form" name="formulario_new">
    <div class="form-group">
        <label class="control-label col-xs-3">Proveedor:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="inputproveedor" placeholder="Nombre del Proveedor" name="proveedor">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Motivo del pago:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="inputmotivo" placeholder="Motivo del Pago">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Compro</label>
        <div class="col-xs-3">
            <select class="form-control">
                <option>Guadalupe Quintana Flores</option>
                <option>Angelica Arana Colin</option>
                <option>Otro</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Autorizo</label>
        <div class="col-xs-3">
            <select class="form-control">
                <option>Esperanza Zubiria Alanis</option>
                <option>Juan Enrique Vargas Garcia</option>
                <option>Manuel Ignacio Alanis Zubiria</option>
                <option>Martha Elva Alanis Zubiria</option>
                <option>Maria Angelica Alanis Zubiria</option>

            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Cantidad de Anticipo:</label>

        <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="$">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Moneda</label>
        <div class="col-xs-3">
            <select class="form-control">
                <option>MXP</option>
                <option>USD</option>
                <option>EUR</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">Requiere:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="Nombre de quien Requiere el Anticipo">
        </div>
    </div>

    <br>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-primary" value="Enviar">
            <input type="reset" class="btn btn-default" value="Limpiar">
        </div>
    </div>
</form>